
.first {
    width: 139px;
    border: 1px solid;
    height: 52px;
    background-color: transparent;
    color: white;
    border-color: white;
    font-size: 16px;
    font-family: RobotoB;
    margin-top: 33px;
}