body {
    background-color: #181818;
    margin: 0;
}

.header_main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.header_nav {
    margin-left: 116px;
    margin-right: 142px;
    margin-top: 37px;
}

.header_main img {
    margin-top: 30px;
}

.header_nav a {
    padding-top: 10px;
    margin-right: 31px;
    color: white;
    text-decoration: none;
    font-family: RobotoM;
    font-size: 16px;
}

.header_text,
.feature_text,
.content_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;

}

.header_text {
    margin-top: 85px;
}

.main_text {
    font-size: 80px;
    color: white;
    font-family: RobotoB;
    width: 60%;
    padding: 10px;
}

.description_text {
    margin-top: 17px;
    color: white;
    font-size: 20px;
    font-family: RobotoM;
    width: 50%;
    padding: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 95px;
}

.screens {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.feature_text {
    margin-top: 162px;
}

.feature_frame {
    display: flex;
    margin-top: 80px;
    margin-left: 245px;
}

.feature_rows {
    flex-direction: column;
    margin-left: 27px;
    justify-content: center;
}

.feature_headline {
    display: flex;
    
}

.feature_head {
    color: white;
    font-size: 20px;
    font-family: RobotoM;
    padding: 10px;
}

.feature_desc {
    font-size: 16px;
    color: white;
    font-family: RobotoM;
    width: 38%;
    padding: 10px;
    margin-bottom: 35px;
}

.content_text {
    font-size: 52px;
    font-family: RobotoB;
    margin-top: 221px;
}

.content_desc {
    display: flex;
    width: 43%;     
    margin: 0 auto;
    font-size: 20px;
    font-family: 'RobotoM', sans-serif;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.content_cards {
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.first_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    width: 476px;
    height: 624.52px;
}

.card_head {
    font-size: 20px;
    font-family: RobotoM;
    padding-top: 50px;
}

.card_desc {
    font-family: RobotoT;
    margin-top: 20px;
    width: 45%;
    text-align: center;
}

.card_button {
    margin-top: 57px;
    margin-left: 50px;
    margin-bottom: 57px;
}

.card_img {
    margin-top: 57px;
}

.content_first_card {
    margin-right: 33px;
}
.card_button_second {
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}